:root {
    --sys-font-family: "Meiryo", -apple-system, BlinkMacSystemFont, "Segoe UI", "Droid Sans", "Helvetica Neue";
    --ja-font-family:  "Meiryo", "メイリオ", "游ゴシック体", "Yu Gothic", YuGothic, "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro";
    --base-font-family: "Meiryo", "Lato", var(--sys-font-family), var(--ja-font-family), sans-serif;
    --code-font-family: Menlo, Monaco, Consolas, "Courier New", var(--ja-font-family), monospace;
  }
  